Repository kubernetes-sigs/headlamp, pull requests merged in 2022-06, with the labels that each got.

#552 desktop: Add headlamp as the custom protocol
  app/package.json
Labels: app

#528 frontend: Add mark all as read and clear functionalities to notificaton
  frontend/src/components/App/Notifications/index.tsx
  frontend/src/i18n/locales/en/frequent.json
  frontend/src/i18n/locales/en/notifications.json
  frontend/src/i18n/locales/es/frequent.json
  frontend/src/i18n/locales/es/notifications.json
  frontend/src/i18n/locales/pt/frequent.json
  frontend/src/i18n/locales/pt/notifications.json
  frontend/src/lib/notification.tsx
  frontend/src/redux/reducers/ui.tsx
Labels: frontend

#567 frontend: Expose Resource and fix issue in PageGrid
  frontend/src/components/common/Resource/Resource.tsx
  frontend/src/components/common/index.ts
Labels: bug
