Repository kubernetes-sigs/headlamp, pull requests merged in 2022-10, with the labels that each got.

#747 headlamp-plugin: Update recharts dependency, warn for `npm audit fix` failures
  plugins/headlamp-plugin/bin/headlamp-plugin.js
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: bug, plugins

#745 Simplify testing
  frontend/src/test/index.tsx
  frontend/src/test/mocker.ts
Labels: frontend, testing

#743 frontend: Fix filter/search when items are numbers
  frontend/src/components/common/SimpleTable.stories.tsx
  frontend/src/components/common/__snapshots__/SimpleTable.stories.storyshot
  frontend/src/lib/util.ts
Labels: frontend
