Repository kubernetes-sigs/headlamp, pull requests merged in 2022-07, with the labels that each got.

#565 app: Do not create a one-click installer for Windows
  app/package.json
Labels: windows

#577 frontend: Improve event default sorting
  frontend/src/components/cluster/Overview.tsx
Labels: frontend

#606 Add error handling/boundaries for plugins
  frontend/src/App.tsx
  frontend/src/components/App/TopBar.tsx
  frontend/src/components/DetailsViewSection/DetailsViewSection.tsx
  frontend/src/components/Sidebar/HeadlampButton.tsx
  frontend/src/components/cluster/Chooser.tsx
  frontend/src/components/common/ErrorBoundary/ErrorBoundary.stories.tsx
  frontend/src/components/common/ErrorBoundary/ErrorBoundary.tsx
  frontend/src/components/common/ErrorBoundary/__snapshots__/ErrorBoundary.stories.storyshot
  frontend/src/components/common/ErrorBoundary/index.tsx
  frontend/src/components/common/Resource/Resource.tsx
  frontend/src/components/common/index.test.ts
  frontend/src/plugin/Plugins.tsx
  frontend/src/plugin/index.ts
  frontend/src/redux/actions/actions.tsx
  frontend/src/redux/reducers/ui.tsx
Labels: plugins

#605 Wait for plugins to load before showing views
  frontend/src/App.test.tsx
  frontend/src/components/App/Layout.tsx
Labels: plugins
