Repository kubernetes-sigs/headlamp, pull requests merged in 2022-08, with the labels that each got.

#648 Add Debian package
  app/package.json
Labels: app

#662 frontend: Fix Plugin class based plugins not loading
  frontend/src/plugin/index.ts
Labels: plugins

#660 frontend: Catch and log Plugin initialize() errors
  frontend/src/plugin/index.ts
Labels: plugins

#651 Improve app menus
  app/electron/locales/en/app.json
  app/electron/locales/es/app.json
  app/electron/locales/pt/app.json
  app/electron/main.ts
  app/electron/preload.ts
  frontend/src/plugin/Plugins.tsx
Labels: plugins, app

#664 plugins: Add useClusterURL, noAuthRequired to sidebar example
  frontend/src/components/App/RouteSwitcher.tsx
  frontend/src/lib/router.tsx
  plugins/examples/sidebar/src/index.tsx
Labels: plugins

#643 plugins/headlamp-plugin: Add upgrade command
  .github/workflows/frontend.yml
  plugins/headlamp-plugin/bin/headlamp-plugin.js
  plugins/headlamp-plugin/test-headlamp-plugin.js
Labels: plugins
