Repository kubernetes-sigs/headlamp, pull requests merged in 2022-11, with the labels that each got.

#777 Fetch pods by labels
  frontend/src/components/common/Resource/Resource.tsx
  frontend/src/lib/k8s/apiProxy.ts
  frontend/src/lib/k8s/cluster.ts
  frontend/src/lib/k8s/index.test.ts
  frontend/src/lib/k8s/index.ts
Labels: enhancement, frontend

#814 little i18n fix
  frontend/src/components/common/Resource/EditorDialog.tsx
  frontend/src/i18n/locales/en/resource.json
  frontend/src/i18n/locales/es/resource.json
  frontend/src/i18n/locales/pt/resource.json
Labels: bug, frontend, i18n

#819 frontend i18n: Set the html lang when page loads too
  frontend/src/i18n/ThemeProviderNexti18n.tsx
Labels: bug, frontend, i18n

#817 Limit notifications
  frontend/src/components/App/Notifications/index.tsx
  frontend/src/helpers/helpers.test.ts
  frontend/src/helpers/index.ts
  frontend/src/lib/notification.tsx
  frontend/src/redux/reducers/ui.tsx
Labels: bug, frontend, Notifications

#791 Render logs using xterm
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/ActionButton/ActionButton.tsx
  frontend/src/components/common/LogViewer.tsx
  frontend/src/components/pod/Details.tsx
  frontend/src/components/pod/PodLogs.stories.tsx
  frontend/src/lib/k8s/pod.ts
  frontend/src/setupTests.ts
Labels: frontend

#833 small storybook fixes for SimpleTable
  frontend/.storybook/preview.tsx
  frontend/src/lib/k8s/apiProxy.ts
Labels: bug, frontend, SimpleTable

#808 Reflect table pages in the URL
  .gitignore
  docs/development/frontend.md
  frontend/src/components/common/Resource/ResourceTable.tsx
  frontend/src/components/common/SimpleTable.stories.tsx
  frontend/src/components/common/SimpleTable.tsx
  frontend/src/components/common/__snapshots__/SimpleTable.stories.storyshot
  frontend/src/components/crd/Details.tsx
  frontend/src/components/daemonset/Details.tsx
  frontend/src/components/endpoints/Details.tsx
  frontend/src/components/endpoints/EndpointDetails.stories.tsx
  frontend/src/components/endpoints/__snapshots__/EndpointDetails.stories.storyshot
  frontend/src/components/ingress/Details.tsx
  frontend/src/components/pod/Details.tsx
  frontend/src/components/pod/List.tsx
  frontend/src/components/role/BindingDetails.tsx
  frontend/src/components/role/Details.tsx
  frontend/src/components/service/Details.tsx
  frontend/src/lib/util.ts
  frontend/src/test/index.tsx
Labels: frontend

#836 Action button quick improvements
  frontend/src/components/common/ActionButton/ActionButton.tsx
  frontend/src/components/common/LogViewer.tsx
Labels: frontend

#840 frontend: Add missing PodLogs test snapshot
  frontend/src/components/pod/__snapshots__/PodLogs.stories.storyshot
Labels: bug

#839 frontend: Fix cluster chooser title to use custom logo
  frontend/src/components/cluster/Chooser.tsx
Labels: bug, plugins

#843 Fix navigation when URL params are enabled
  frontend/src/lib/util.ts
Labels: bug, frontend

#842 frontend: Show/hide filter depending on the search + who triggered it
  frontend/src/components/App/Notifications/List.tsx
  frontend/src/components/common/SectionFilterHeader.tsx
Labels: frontend
