Repository kubernetes-sigs/headlamp, pull requests merged in 2023-04, with the labels that each got.

#811 frontend: Start on 'de' locale for German. Thanks @t-lo and @ahrkrak
  frontend/src/i18n/config.ts
  frontend/src/i18n/locales/de/auth.json
  frontend/src/i18n/locales/de/cluster.json
  frontend/src/i18n/locales/de/configmap.json
  frontend/src/i18n/locales/de/crd.json
  frontend/src/i18n/locales/de/frequent.json
  frontend/src/i18n/locales/de/glossary.json
  frontend/src/i18n/locales/de/hpa.json
  frontend/src/i18n/locales/de/ingress.json
  frontend/src/i18n/locales/de/logs.json
  frontend/src/i18n/locales/de/node.json
  frontend/src/i18n/locales/de/notifications.json
  frontend/src/i18n/locales/de/pdb.json
  frontend/src/i18n/locales/de/priorityClasses.json
  frontend/src/i18n/locales/de/release.json
  frontend/src/i18n/locales/de/resource.json
  frontend/src/i18n/locales/de/resourceQuota.json
  frontend/src/i18n/locales/de/role.json
  frontend/src/i18n/locales/de/search.json
  frontend/src/i18n/locales/de/settings.json
  frontend/src/i18n/locales/de/sidebar.json
  frontend/src/i18n/locales/de/workload.json
  frontend/src/i18n/locales/en/glossary.json
Labels: enhancement, frontend, i18n

#990 frontend: Add component for PluginSettings
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App/Layout.tsx
  frontend/src/components/App/Notifications/List.stories.tsx
  frontend/src/components/App/PluginSettings/PluginSettings.stories.tsx
  frontend/src/components/App/PluginSettings/PluginSettings.tsx
  frontend/src/components/App/PluginSettings/__snapshots__/PluginSettings.stories.storyshot
  frontend/src/components/App/PluginSettings/index.tsx
  frontend/src/components/App/TopBar.stories.tsx
  frontend/src/components/App/VersionDialog.stories.tsx
  frontend/src/components/App/__snapshots__/TopBar.stories.storyshot
  frontend/src/components/DetailsViewSection/DetailsViewSection.stories.tsx
  frontend/src/components/Sidebar/HeadlampButton.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/cluster/Chooser.tsx
  frontend/src/components/common/Resource/ResourceTable.stories.tsx
  frontend/src/components/common/SimpleTable.stories.tsx
  frontend/src/i18n/locales/en/settings.json
  frontend/src/i18n/locales/es/settings.json
  frontend/src/i18n/locales/fr/settings.json
  frontend/src/i18n/locales/pt/settings.json
  frontend/src/lib/router.tsx
  frontend/src/plugin/Plugins.tsx
  frontend/src/plugin/filterSources.test.ts
  frontend/src/plugin/index.ts
  frontend/src/plugin/pluginsSlice.ts
  frontend/src/plugin/updateSettingsPackages.test.ts
  frontend/src/redux/actions/actions.tsx
  frontend/src/redux/hooks.ts
  frontend/src/redux/reducers/reducers.tsx
  frontend/src/redux/reducers/ui.tsx
  frontend/src/redux/stores/store.tsx
  frontend/src/test/index.tsx
Labels: enhancement, frontend, plugins

#1052 Improve sidebar
  frontend/src/components/App/RouteSwitcher.tsx
  frontend/src/components/Sidebar/NavigationTabs.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/Sidebar/SidebarItem.tsx
  frontend/src/components/Sidebar/prepareRoutes.ts
  frontend/src/lib/router.tsx
  frontend/src/plugin/registry.tsx
  frontend/src/redux/actions/actions.tsx
  frontend/src/redux/reducers/ui.tsx
  plugins/examples/sidebar/src/index.tsx
  plugins/headlamp-plugin/lib/index.ts
Labels: frontend

#1089 headlamp-plugin: Fix registerGetTokenFunction export
  plugins/headlamp-plugin/lib/index.ts
Labels: bug, plugins

#1090 frontend: Clone the clusters conf to prevent direct state changes
  frontend/src/lib/k8s/index.ts
  frontend/src/redux/reducers/clusterAction.tsx
  frontend/src/redux/reducers/config.tsx
  frontend/src/redux/reducers/filter.tsx
  frontend/src/redux/reducers/ui.tsx
Labels: frontend
