Repository kubernetes-sigs/headlamp, pull requests merged in 2023-11, with the labels that each got.

#1512 frontend: Fix endpoint address field CSS
  frontend/src/components/service/Details.tsx
Labels: bug, frontend

#1491 frontend: Adds time to log download file name
  frontend/src/components/common/LogViewer.tsx
Labels: frontend

#1516 frontend: Fixes endpoint address renders
  frontend/src/components/service/Details.tsx
  frontend/src/lib/k8s/endpoints.ts
Labels: bug, frontend

#1492 frontend: Add ephemeral containers section
  frontend/src/components/common/Resource/Resource.tsx
  frontend/src/components/pod/__snapshots__/PodDetails.stories.storyshot
  frontend/src/i18n/locales/de/glossary.json
  frontend/src/i18n/locales/en/glossary.json
  frontend/src/i18n/locales/es/glossary.json
  frontend/src/i18n/locales/fr/glossary.json
  frontend/src/i18n/locales/pt/glossary.json
  frontend/src/lib/k8s/pod.ts
Labels: enhancement, frontend

#1457 docs: Add Keycloak Minikube Headlamp oidc doc
  docs/installation/keycloak/headlamp-access1.jpg
  docs/installation/keycloak/headlamp-access2.jpg
  docs/installation/keycloak/headlamp-access3.jpg
  docs/installation/keycloak/headlamp-install.jpg
  docs/installation/keycloak/keycloak-admin-panel.jpeg
  docs/installation/keycloak/keycloak-clients-list.jpeg
  docs/installation/keycloak/keycloak-create-client1.jpeg
  docs/installation/keycloak/keycloak-create-client2.jpeg
  docs/installation/keycloak/keycloak-create-client3.jpeg
  docs/installation/keycloak/keycloak-minikube.md
  docs/installation/keycloak/keycloak-redirect.jpeg
  docs/installation/keycloak/minikube-start.jpg
  docs/installation/keycloak/oidc-login-install.jpg
  docs/installation/keycloak/oidc-login-setup1.jpg
  docs/installation/keycloak/oidc-login-setup2.jpg
Labels: documentation, auth, dx

#1446 frontend: clusterActionSlice: Refactor clusterActions into a slice
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App/PluginSettings/PluginSettings.stories.tsx
  frontend/src/components/common/ActionsNotifier.stories.tsx
  frontend/src/components/common/ActionsNotifier.tsx
  frontend/src/components/common/Resource/CreateButton.tsx
  frontend/src/components/common/Resource/DeleteButton.tsx
  frontend/src/components/common/Resource/EditButton.tsx
  frontend/src/components/common/Resource/RestartButton.tsx
  frontend/src/components/common/Resource/ScaleButton.tsx
  frontend/src/components/common/SimpleTable.stories.tsx
  frontend/src/components/cronjob/Details.tsx
  frontend/src/components/node/Details.tsx
  frontend/src/redux/actions/actions.tsx
  frontend/src/redux/clusterActionSlice.test.ts
  frontend/src/redux/clusterActionSlice.ts
  frontend/src/redux/reducers/clusterAction.tsx
  frontend/src/redux/reducers/reducers.tsx
  frontend/src/redux/sagas/sagas.tsx
  frontend/src/redux/stores/store.tsx
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: frontend

#1456 Redux reducer tests/docs/refactoring
  frontend/src/App.tsx
  frontend/src/components/App/AppLogo.tsx
  frontend/src/components/App/Home/index.stories.tsx
  frontend/src/components/App/Notifications/List.stories.tsx
  frontend/src/components/App/Notifications/List.tsx
  frontend/src/components/App/Notifications/__snapshots__/List.stories.storyshot
  frontend/src/components/App/Notifications/index.tsx
  frontend/src/components/App/Notifications/notificationsSlice.test.ts
  frontend/src/components/App/Notifications/notificationsSlice.ts
  frontend/src/components/App/RouteSwitcher.tsx
  frontend/src/components/App/Settings/ThemeChangeButton.tsx
  frontend/src/components/App/TopBar.stories.tsx
  frontend/src/components/App/TopBar.tsx
  frontend/src/components/App/themeSlice.test.tsx
  frontend/src/components/App/themeSlice.ts
  frontend/src/components/DetailsViewSection/DetailsViewSection.stories.tsx
  frontend/src/components/DetailsViewSection/DetailsViewSection.tsx
  frontend/src/components/DetailsViewSection/detailsViewSectionSlice.test.ts
  frontend/src/components/DetailsViewSection/detailsViewSectionSlice.ts
  frontend/src/components/Sidebar/NavigationTabs.tsx
  frontend/src/components/Sidebar/Sidebar.stories.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/Sidebar/SidebarItem.tsx
  frontend/src/components/Sidebar/VersionButton.tsx
  frontend/src/components/Sidebar/index.tsx
  frontend/src/components/Sidebar/prepareRoutes.ts
  frontend/src/components/Sidebar/sidebarSlice.test.ts
  frontend/src/components/Sidebar/sidebarSlice.ts
  frontend/src/components/common/Resource/Resource.tsx
  frontend/src/components/common/Resource/ResourceTable.stories.tsx
  frontend/src/components/common/Resource/ResourceTable.tsx
  frontend/src/components/common/Resource/resourceTableSlice.test.ts
  frontend/src/components/common/Resource/resourceTableSlice.ts
  frontend/src/helpers/helpers.test.ts
  frontend/src/helpers/index.ts
  frontend/src/lib/cluster.ts
  frontend/src/lib/notification.tsx
  frontend/src/lib/router.tsx
  frontend/src/lib/util.ts
  frontend/src/plugin/registry.tsx
  frontend/src/redux/actions/actions.tsx
  frontend/src/redux/reducers/reducers.tsx
  frontend/src/redux/reducers/ui.tsx
  frontend/src/redux/routesSlice.test.tsx
  frontend/src/redux/routesSlice.ts
Labels: documentation, frontend, testing

#1548 Show spinners when cluster changes
  frontend/src/components/App/Notifications/notificationsSlice.test.ts
  frontend/src/components/cluster/Overview.tsx
  frontend/src/components/cluster/__snapshots__/Overview.stories.storyshot
  frontend/src/components/common/Chart.stories/__snapshots__/PercentageCircle.stories.storyshot
  frontend/src/components/common/TileChart/__snapshots__/TileChart.stories.storyshot
  frontend/src/components/workload/Overview.tsx
  frontend/src/lib/k8s/cluster.ts
Labels: enhancement, frontend
