Repository kubernetes-sigs/headlamp, pull requests merged in 2023-07, with the labels that each got.

#1177 frontend: Show number of warnings in Overview
  frontend/src/components/cluster/Overview.tsx
  frontend/src/i18n/locales/de/glossary.json
  frontend/src/i18n/locales/en/glossary.json
  frontend/src/i18n/locales/es/glossary.json
  frontend/src/i18n/locales/fr/glossary.json
  frontend/src/i18n/locales/pt/glossary.json
Labels: frontend

#1241 frontend: TopBar: Fix icon centering in mobile
  frontend/src/components/App/TopBar.tsx
Labels: bug, frontend

#1243 frontend node/Details: Fix back link spacing on mobile
  frontend/src/components/node/Details.tsx
Labels: bug, frontend

#1245 frontend: SidebarItem: Fix focus background color
  frontend/src/components/Sidebar/SidebarItem.tsx
Labels: bug, frontend, a11y

#1242 frontend: TopBar: Fix mobile menu to close when popup opens
  frontend/src/components/App/TopBar.tsx
Labels: bug, frontend

#1216 docs:add headlamp & plugins
  .gitignore
  backend/cmd/headlamp.go
  backend/cmd/plugins.go
Labels: documentation, backend

#1217 docs: Add section about filing security bugs
  docs/contributing.md
Labels: documentation

#1236 frontend NamespaceAutocomplete: Fix disappearing typed value
  frontend/src/components/common/NamespacesAutocomplete.tsx
Labels: frontend

#1271 frontend: plugins: Update dependencies with npm audit fix
  frontend/package-lock.json
  plugins/examples/app-menus/package-lock.json
  plugins/examples/change-logo/package-lock.json
  plugins/examples/cluster-chooser/package-lock.json
  plugins/examples/details-view/package-lock.json
  plugins/examples/dynamic-clusters/package-lock.json
  plugins/examples/pod-counter/package-lock.json
  plugins/examples/sidebar/package-lock.json
  plugins/examples/tables/package-lock.json
  plugins/headlamp-plugin/package-lock.json
Labels: dependencies, plugins

#1196 frontend: Settings button fixes
  frontend/src/components/App/Settings/Settings.tsx
  frontend/src/components/App/Settings/SettingsButton.tsx
  frontend/src/components/App/Settings/SettingsCluster.tsx
  frontend/src/components/App/Settings/__snapshots__/Settings.stories.storyshot
  frontend/src/components/App/TopBar.tsx
  frontend/src/components/App/__snapshots__/TopBar.stories.storyshot
Labels: bug, enhancement, frontend
