Repository kubernetes-sigs/headlamp, pull requests merged in 2023-09, with the labels that each got.

#1377 app/scripts: Fix so app/scripts folder is formatted too
  app/scripts/build-backend.js
  frontend/package.json
Labels: app, dx

#1375 app: Fix running on windows, improve quickstart docs, document scripts, better ctrl+c handling
  app/README.md
  app/package.json
  app/scripts/start.js
Labels: app, dx

#1378 plugins: Improve README with a Quickstart and better docs intro
  plugins/README.md
Labels: plugins, dx

#1283 frontend: Create nav link for ingress
  frontend/src/components/ingress/Details.tsx
  frontend/src/components/ingress/LinkStringFormat.stories.tsx
  frontend/src/components/ingress/__snapshots__/Details.stories.storyshot
  frontend/src/components/ingress/__snapshots__/LinkStringFormat.stories.storyshot
  frontend/src/lib/k8s/ingress.ts
Labels: enhancement, frontend

#1357 frontend Notifications/List: Correct status for context buttons
  frontend/src/components/App/Notifications/List.tsx
Labels: bug, frontend

#1396 frontend common/Label: Do not end-align HoverInfoLabel
  frontend/src/components/common/Label.tsx
Labels: bug, frontend

#1379 backend: Fix backend-lint, add backend-format, document backend make targets
  Makefile
  backend/README.md
  docs/development/backend.md
Labels: backend, dx

#1403 Fix standard name CRDs
  frontend/src/lib/k8s/apiProxy.ts
  frontend/src/lib/k8s/crd.ts
  frontend/src/plugin/index.ts
Labels: bug, frontend

#1387 frontend: Fix lack of space at page bottom
  frontend/src/components/common/Resource/Resource.tsx
  frontend/src/components/endpoints/__snapshots__/EndpointDetails.stories.storyshot
  frontend/src/components/horizontalPodAutoscaler/__snapshots__/HPADetails.stories.storyshot
  frontend/src/components/ingress/__snapshots__/Details.stories.storyshot
  frontend/src/components/lease/__snapshots__/Details.stories.storyshot
  frontend/src/components/limitRange/__snapshots__/Details.stories.storyshot
  frontend/src/components/namespace/__snapshots__/NamespaceDetails.stories.storyshot
  frontend/src/components/pod/__snapshots__/PodDetails.stories.storyshot
  frontend/src/components/pod/__snapshots__/PodLogs.stories.storyshot
  frontend/src/components/podDisruptionBudget/__snapshots__/pdbDetails.stories.storyshot
  frontend/src/components/priorityClass/__snapshots__/priorityClassDetails.stories.storyshot
  frontend/src/components/resourceQuota/__snapshots__/resourceQuotaDetails.stories.storyshot
  frontend/src/components/runtimeClass/__snapshots__/Details.stories.storyshot
  frontend/src/components/webhookconfiguration/__snapshots__/MutatingWebhookConfigDetails.stories.storyshot
  frontend/src/components/webhookconfiguration/__snapshots__/ValidatingWebhookConfigDetails.stories.storyshot
Labels: bug, frontend
