Repository kubernetes-sigs/headlamp, pull requests merged in 2023-06, with the labels that each got.

#1163 frontend lib/k8s: Fix useConnectApi to depend on cluster not location
  frontend/src/lib/k8s/index.ts
Labels: bug, frontend

#1125 frontend: Abstract AppLogo with plugins' logic into its own component
  frontend/src/components/App/AppLogo.tsx
  frontend/src/components/Sidebar/AppLogo.tsx
  frontend/src/components/Sidebar/HeadlampButton.tsx
  frontend/src/components/cluster/Chooser.tsx
  frontend/src/plugin/registry.tsx
  frontend/src/redux/actions/actions.tsx
Labels: frontend

#1167 frontend: Fix setting up header actions when they're not identified
  frontend/src/components/Sidebar/__snapshots__/Sidebar.stories.storyshot
  frontend/src/components/common/Resource/MainInfoSection/MainInfoSection.tsx
  frontend/src/components/cronjob/__snapshots__/CronJobDetails.stories.storyshot
Labels: bug

#1171 frontend: Prevent failure when rendering networkpolicy/Details
  frontend/src/components/networkpolicy/Details.tsx
Labels: bug, frontend

#1165 frontend ResourceTable: Throttle data updates to 1Hz
  frontend/src/components/common/Resource/ResourceTable.tsx
Labels: bug, frontend
