Repository kubernetes-sigs/headlamp, pull requests merged in 2023-12, with the labels that each got.

#1361 frontend: Improve pod persistent volume detail
  frontend/src/components/common/Resource/Resource.tsx
  frontend/src/components/pod/Details.tsx
  frontend/src/components/pod/Volumedetails.stories.tsx
  frontend/src/components/pod/__snapshots__/Volumedetails.stories.storyshot
  frontend/src/components/pod/__snapshots__/podDetailsVolumeSection.stories.storyshot
  frontend/src/components/pod/podDetailsVolumeSection.stories.tsx
  frontend/src/i18n/locales/de/translation.json
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/es/translation.json
  frontend/src/i18n/locales/fr/translation.json
  frontend/src/i18n/locales/pt/translation.json
  frontend/src/lib/k8s/pod.ts
  package-lock.json
Labels: enhancement, frontend

#1585 Fix Dimming Issue in Release Notes on Headlamp App Mode
  frontend/src/components/common/ReleaseNotes/ReleaseNotesModal.tsx
Labels: bug, frontend, app

#1594 frontend: helpers: Fix dev console spam
  frontend/src/helpers/index.ts
Labels: bug, frontend, dx
