Repository kubernetes-sigs/headlamp, pull requests merged in 2023-10, with the labels that each got.

#1433 frontend: adds reduced motion compatibility
  frontend/src/lib/themes.ts
Labels: enhancement, frontend, a11y

#1325 app: Creates winget manifest
  app/windows/winget/templates/Headlamp.Headlamp.installer.yaml
  app/windows/winget/templates/Headlamp.Headlamp.locale.en-US.yaml
  app/windows/winget/templates/Headlamp.Headlamp.yaml
  app/windows/winget/winget-create.js
  package-lock.json
  package.json
Labels: desktop, windows, app, distribution

#1445 frontend: redux/filterSlice: Refactor filter reducers/actions into slice
  frontend/src/components/App/Notifications/List.stories.tsx
  frontend/src/components/Sidebar/Sidebar.stories.tsx
  frontend/src/components/cluster/Overview.tsx
  frontend/src/components/common/NamespacesAutocomplete.tsx
  frontend/src/components/common/SectionFilterHeader.tsx
  frontend/src/lib/util.ts
  frontend/src/redux/actions/actions.tsx
  frontend/src/redux/filterSlice.test.ts
  frontend/src/redux/filterSlice.ts
  frontend/src/redux/reducers/filter.tsx
  frontend/src/redux/reducers/reducers.tsx
  frontend/src/redux/stores/store.tsx
Labels: frontend

#1452 docs: Add documentation about Winget installation
  docs/installation/desktop/win-installation.md
Labels: documentation

#1443 Add action to open PR for updating chart automatically
  .github/workflows/pr-to-update-chart.yml
Labels: release, dx

#1429 Add tools and more tests for translations
  app/electron/i18next-parser.config.js
  app/electron/locales/de/app.json
  app/electron/locales/en/app.json
  app/electron/locales/es/app.json
  app/electron/locales/fr/app.json
  app/electron/locales/pt/app.json
  app/electron/main.ts
  docs/development/i18n/contributing.md
  frontend/src/i18n/index.test.ts
  frontend/src/i18n/tools/copy-translations.js
  frontend/src/i18n/tools/extract-empty-translations.js
Labels: frontend, i18n, dx

#1486 README: Add openssf best practices badge
  README.md
Labels: documentation

#1487 Fixes for headlamp-plugin tests and story tests for change-logo and tables examples
  plugins/examples/change-logo/package-lock.json
  plugins/examples/change-logo/package.json
  plugins/examples/change-logo/src/ReactiveLogo.stories.tsx
  plugins/examples/change-logo/src/__snapshots__/ReactiveLogo.stories.storyshot
  plugins/examples/change-logo/src/index.tsx
  plugins/examples/change-logo/src/storybook.test.tsx
  plugins/examples/tables/package-lock.json
  plugins/examples/tables/package.json
  plugins/examples/tables/src/ContextMenu.stories.tsx
  plugins/examples/tables/src/__snapshots__/ContextMenu.stories.storyshot
  plugins/examples/tables/src/index.tsx
  plugins/examples/tables/src/storybook.test.tsx
  plugins/headlamp-plugin/bin/headlamp-plugin.js
  plugins/headlamp-plugin/config/storyshots/storyshots-test.ts
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: plugins
