Repository kubernetes-sigs/headlamp, pull requests merged in 2023-05, with the labels that each got.

#1122 Misc improvements for loading a cluster
  Makefile
  backend/cmd/headlamp.go
  frontend/src/components/cluster/KubeConfigLoader.tsx
Labels: frontend

#1119 Fix loading kubeconfig
  frontend/src/components/cluster/KubeConfigLoader.tsx
Labels: frontend

#1126 backend: Fix --html-static-dir cmd line option on windows
  backend/cmd/headlamp.go
Labels: bug, windows

#1113 frontend backend app: Prevent unauthorized access to helm endpoints
  app/electron/main.ts
  backend/cmd/headlamp.go
  frontend/src/helpers/index.ts
  frontend/src/lib/k8s/apiProxy.ts
  frontend/src/plugin/index.ts
  frontend/src/plugin/registry.tsx
Labels: backend, frontend, security, plugins, app

#1137 Dockerfile: Bump alpine to 3.18
  Dockerfile
Labels: dependencies
