Repository kubernetes-sigs/headlamp, pull requests merged in 2024-03, with the labels that each got.

#1750 Cluster in hook api functions / Warnings in home view
  frontend/src/components/App/Home/__snapshots__/index.stories.storyshot
  frontend/src/components/App/Home/index.tsx
  frontend/src/i18n/locales/de/translation.json
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/es/translation.json
  frontend/src/i18n/locales/fr/translation.json
  frontend/src/i18n/locales/pt/translation.json
  frontend/src/lib/k8s/cluster.ts
Labels: frontend

#1757 frontend: runCommand: Disable unless env var is set
  frontend/src/components/App/runCommand.ts
Labels: app

#1753 Fix notifications out of cluster
  frontend/src/components/App/Home/index.tsx
  frontend/src/components/App/Notifications/index.tsx
  frontend/src/lib/k8s/event.ts
Labels: bug, frontend, Notifications

#1768 plugins/examples/change-logo: Use sx prop in logo
  plugins/examples/change-logo/src/index.tsx
Labels: bug, frontend, plugins

#1795 e2e-tests: README: Add better getting started instructions, and a few usage tips
  e2e-tests/README.md
Labels: documentation, testing, dx, e2e-tests

#1797 e2e-tests headlampPage: Fix flaky test to wait for page to load
  e2e-tests/tests/headlampPage.ts
Labels: bug, testing, e2e-tests

#1796 github: build-container: Cache container build for faster testing
  .github/workflows/build-container.yml
Labels: testing, performance, dx, CI, container, e2e-tests

#1799 e2e-tests: namespaces: Add test for creating and deleting
  e2e-tests/tests/namespaces.spec.ts
  e2e-tests/tests/namespacesPage.ts
Labels: testing, e2e-tests, namespaces

#1822 frontend: plugins: Add cache option to lint
  frontend/.gitignore
  frontend/package.json
  plugins/headlamp-plugin/bin/headlamp-plugin.js
  plugins/headlamp-plugin/template/.gitignore
Labels: frontend, plugins, quality, performance, dx

#1809 frontend: e2e-tests: Improve code formatting
  e2e-tests/playwright.config.ts
  e2e-tests/tests/dynamicCluster.spec.ts
  e2e-tests/tests/headlamp.spec.ts
  e2e-tests/tests/headlampPage.ts
  e2e-tests/tests/namespaces.spec.ts
  e2e-tests/tests/namespacesPage.ts
  e2e-tests/tests/pluginSetting.spec.ts
  e2e-tests/tests/securityPage.ts
  e2e-tests/tests/servicesPage.ts
  frontend/package-lock.json
  frontend/package.json
  plugins/headlamp-plugin/bin/headlamp-plugin.js
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: frontend, plugins, performance, dx, e2e-tests

#1856 headlamp-plugin: Do not exit process when watching for changes
  plugins/headlamp-plugin/bin/headlamp-plugin.js
Labels: bug, headlamp-plugin

#1873 frontend cluster/Overview: Show only warnings by default
  frontend/src/components/cluster/Overview.tsx
  frontend/src/components/cluster/__snapshots__/Overview.stories.storyshot
Labels: bug, frontend

#1877 frontend: Notifications: Disable Notifications
  frontend/src/components/App/TopBar.tsx
  frontend/src/components/App/__snapshots__/TopBar.stories.storyshot
Labels: bug, frontend, performance

#1874 backend: Upgrade github.com/docker/docker v24.0.7+incompatible to v24.0.9+incompatible
  backend/go.mod
  backend/go.sum
Labels: backend, dependencies

#1875 backend: Upgrade helm.sh/helm/v3 v3.14.2 => v3.14.3
  backend/go.mod
  backend/go.sum
Labels: backend, dependencies

#1798 e2e-tests: headlamp.spec: Add test for pagination
  e2e-tests/tests/headlamp.spec.ts
  e2e-tests/tests/headlampPage.ts
  e2e-tests/tests/securityPage.ts
Labels: testing, SimpleTable, e2e-tests

#1774 frontend playwright: Add update playright package
  e2e-tests/package-lock.json
  e2e-tests/package.json
Labels: frontend
