Repository kubernetes-sigs/headlamp, pull requests merged in 2024-02, with the labels that each got.

#1689 Small documentation improvements, helm link, and blog link
  docs/development/plugins/building.md
  docs/installation/in-cluster/_index.md
Labels: documentation, plugins, dx

#1692 github: Dockerfile: Fix .plugins copying and usage with test
  .github/workflows/build-container.yml
  Dockerfile
Labels: bug, plugins, regression, container

#1690 frontend: Add dialog for Drain
  frontend/src/components/node/Details.tsx
  frontend/src/i18n/locales/de/glossary.json
  frontend/src/i18n/locales/en/glossary.json
  frontend/src/i18n/locales/es/glossary.json
  frontend/src/i18n/locales/fr/glossary.json
  frontend/src/i18n/locales/pt/glossary.json
Labels: frontend

#1674 frontend: Fix notifications format styles
  frontend/src/components/App/Notifications/List.tsx
  frontend/src/components/App/Notifications/__snapshots__/List.stories.storyshot
Labels: frontend

#1678 Add Plugin Settings Detail View and Plugin Config Store
  backend/cmd/headlamp.go
  backend/cmd/headlamp_test.go
  backend/pkg/plugins/plugins.go
  backend/pkg/plugins/plugins_test.go
  docs/development/api/interfaces/plugin_registry.PluginSettingsDetailsProps.md
  docs/development/api/modules/plugin_registry.md
  docs/development/plugins/functionality.md
  docs/development/plugins/images/plugin-settings.png
  frontend/src/components/App/PluginSettings/PluginSettings.tsx
  frontend/src/components/App/PluginSettings/PluginSettingsDetails.stories.tsx
  frontend/src/components/App/PluginSettings/PluginSettingsDetails.tsx
  frontend/src/components/App/PluginSettings/__snapshots__/PluginSettings.stories.storyshot
  frontend/src/components/App/PluginSettings/__snapshots__/PluginSettingsDetails.stories.storyshot
  frontend/src/components/App/Settings/__snapshots__/Settings.stories.storyshot
  frontend/src/components/Sidebar/__snapshots__/Sidebar.stories.storyshot
  frontend/src/components/Sidebar/prepareRoutes.ts
  frontend/src/i18n/locales/de/translation.json
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/es/translation.json
  frontend/src/i18n/locales/fr/translation.json
  frontend/src/i18n/locales/pt/translation.json
  frontend/src/lib/k8s/apiProxy.ts
  frontend/src/lib/router.tsx
  frontend/src/plugin/configStore.ts
  frontend/src/plugin/index.ts
  frontend/src/plugin/pluginConfigSlice.ts
  frontend/src/plugin/pluginSlice.test.tsx
  frontend/src/plugin/pluginsSlice.ts
  frontend/src/plugin/registry.tsx
  frontend/src/redux/reducers/reducers.tsx
  plugins/examples/change-logo/README.md
  plugins/examples/change-logo/src/index.tsx
  plugins/examples/change-logo/src/settings.tsx
  plugins/examples/pod-counter/src/Message.tsx
  plugins/examples/pod-counter/src/index.tsx
  plugins/headlamp-plugin/src/index.ts
Labels: enhancement, backend, frontend, plugins
