Repository kubernetes-sigs/headlamp, pull requests merged in 2024-07, with the labels that each got.

#2104 backend: Update dependencies
  backend/go.mod
  backend/go.sum
Labels: backend, dependencies

#2115 plugins/examples: Update deps with audit fix
  plugins/examples/app-menus/package-lock.json
  plugins/examples/app-menus/package.json
  plugins/examples/change-logo/package-lock.json
  plugins/examples/change-logo/package.json
  plugins/examples/cluster-chooser/package-lock.json
  plugins/examples/cluster-chooser/package.json
  plugins/examples/details-view/package-lock.json
  plugins/examples/details-view/package.json
  plugins/examples/dynamic-clusters/package-lock.json
  plugins/examples/dynamic-clusters/package.json
  plugins/examples/headlamp-events/package-lock.json
  plugins/examples/headlamp-events/package.json
  plugins/examples/pod-counter/package-lock.json
  plugins/examples/pod-counter/package.json
  plugins/examples/sidebar/package-lock.json
  plugins/examples/sidebar/package.json
  plugins/examples/tables/package-lock.json
  plugins/examples/tables/package.json
Labels: dependencies

#2127 frontend: vite.config: Fix coverage report names, and excludes
  frontend/vite.config.ts
Labels: bug, frontend, testing

#2122 charts: Fix expected templates for new headlamp version
  charts/headlamp/tests/expected_templates/extra-args.yaml
  charts/headlamp/tests/expected_templates/oidc-create-secret.yaml
  charts/headlamp/tests/expected_templates/oidc-directly-env.yaml
  charts/headlamp/tests/expected_templates/oidc-directly.yaml
  charts/headlamp/tests/expected_templates/oidc-external-secret.yaml
  charts/headlamp/tests/expected_templates/volumes-added.yaml
Labels: bug, charts

#2119 github: backend-test: Skip coverage except for PRs
  .github/workflows/backend-test.yml
Labels: bug, backend, CI

#2130 Makefile: Add artifact hub URL for running dev mode backend
  Makefile
Labels: backend, app

#2152 plugin catalog: small improvements
  Makefile
  app/electron/main.ts
  plugins/headlamp-plugin/bin/headlamp-plugin.js
  plugins/headlamp-plugin/package.json
  plugins/headlamp-plugin/plugin-management/plugin-management.e2e.js
  plugins/headlamp-plugin/plugin-management/plugin-management.js
  plugins/headlamp-plugin/plugin-management/plugin-management.test.js
Labels: security, plugins, headlamp-plugin

#2155 frontend: Adds JSON / object / KubeObjectInterface options
  frontend/src/lib/k8s/apiProxy.ts
Labels: frontend

#2163 frontend: Fix format, lint, format-check to cache again
  frontend/package.json
Labels: bug, dx

#1890 github: Replace minikube with kind in CI
  .github/workflows/build-container.yml
  e2e-tests/kubernetes-headlamp-ci.yaml
Labels: testing

#1727 frontend: Add create namespace ui
  frontend/.storybook/main.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App/Settings/__snapshots__/Settings.General.stories.storyshot
  frontend/src/components/cluster/__snapshots__/Overview.Events.stories.storyshot
  frontend/src/components/common/Resource/Resource.tsx
  frontend/src/components/common/Table/__snapshots__/Table.LabelSearch.stories.storyshot
  frontend/src/components/common/Table/__snapshots__/Table.NameSearch.stories.storyshot
  frontend/src/components/common/Table/__snapshots__/Table.NamespaceSearch.stories.storyshot
  frontend/src/components/common/Table/__snapshots__/Table.NamespaceSelect.stories.storyshot
  frontend/src/components/common/Table/__snapshots__/Table.NotFoundMessage.stories.storyshot
  frontend/src/components/common/Table/__snapshots__/Table.NumberSearch.stories.storyshot
  frontend/src/components/common/Table/__snapshots__/Table.UIDSearch.stories.storyshot
  frontend/src/components/common/__snapshots__/NamespacesAutocomplete.Some.stories.storyshot
  frontend/src/components/common/__snapshots__/SimpleTable.LabelSearch.stories.storyshot
  frontend/src/components/common/__snapshots__/SimpleTable.NameSearch.stories.storyshot
  frontend/src/components/common/__snapshots__/SimpleTable.NamespaceSearch.stories.storyshot
  frontend/src/components/common/__snapshots__/SimpleTable.NamespaceSelect.stories.storyshot
  frontend/src/components/common/__snapshots__/SimpleTable.NotFoundMessage.stories.storyshot
  frontend/src/components/common/__snapshots__/SimpleTable.NumberSearch.stories.storyshot
  frontend/src/components/common/__snapshots__/SimpleTable.UIDSearch.stories.storyshot
  frontend/src/components/configmap/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/crd/__snapshots__/CustomResourceDefinition.List.stories.storyshot
  frontend/src/components/daemonset/__snapshots__/List.DaemonSets.stories.storyshot
  frontend/src/components/endpoints/__snapshots__/EndpointList.Items.stories.storyshot
  frontend/src/components/horizontalPodAutoscaler/__snapshots__/HPAList.Items.stories.storyshot
  frontend/src/components/ingress/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/job/__snapshots__/JobList.Items.stories.storyshot
  frontend/src/components/lease/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/limitRange/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/namespace/CreateNamespaceButton.stories.tsx
  frontend/src/components/namespace/CreateNamespaceButton.tsx
  frontend/src/components/namespace/List.tsx
  frontend/src/components/namespace/__snapshots__/CreateNamespaceButton.EmptyName.stories.storyshot
  frontend/src/components/namespace/__snapshots__/CreateNamespaceButton.NotValidName.stories.storyshot
  frontend/src/components/namespace/__snapshots__/CreateNamespaceButton.NotValidNameLong.stories.storyshot
  frontend/src/components/namespace/__snapshots__/CreateNamespaceButton.OkayName.stories.storyshot
  frontend/src/components/namespace/__snapshots__/CreateNamespaceButton.badNamespaceData.stories.storyshot
  frontend/src/components/namespace/__snapshots__/CreateNamespaceButton.longNamespaceData.stories.storyshot
  frontend/src/components/namespace/__snapshots__/CreateNamespaceButton.newNamespaceData.stories.storyshot
  frontend/src/components/pod/__snapshots__/PodList.Items.stories.storyshot
  frontend/src/components/podDisruptionBudget/__snapshots__/pdbList.Items.stories.storyshot
  frontend/src/components/replicaset/__snapshots__/List.ReplicaSets.stories.storyshot
  frontend/src/components/resourceQuota/__snapshots__/resourceQuotaList.Items.stories.storyshot
  frontend/src/components/secret/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/storage/__snapshots__/ClaimList.Items.stories.storyshot
  frontend/src/components/verticalPodAutoscaler/__snapshots__/VPAList.List.stories.storyshot
  frontend/src/i18n/locales/de/translation.json
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/es/translation.json
  frontend/src/i18n/locales/fr/translation.json
  frontend/src/i18n/locales/pt/translation.json
  frontend/src/lib/k8s/index.test.ts
  frontend/src/lib/k8s/namespace.ts
  frontend/src/plugin/configStore.ts
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: enhancement, frontend

#2111 Fix error boundary Page link
  app/electron/main.ts
  frontend/src/components/App/Layout.tsx
  frontend/src/components/common/ErrorPage/ErrorPage.tsx
Labels: bug, frontend, app, ErrorPage

#2144 frontend: Fix ReleaseNotes so it works again
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/ReleaseNotes/ReleaseNotes.tsx
  frontend/src/components/common/ReleaseNotes/ReleaseNotesModal.stories.tsx
  frontend/src/components/common/ReleaseNotes/UpdatePopup.stories.tsx
  frontend/src/components/common/ReleaseNotes/UpdatePopup.tsx
  frontend/src/components/common/ReleaseNotes/__snapshots__/UpdatePopup.Closed.stories.storyshot
  frontend/src/components/common/ReleaseNotes/__snapshots__/UpdatePopup.FetchFailed.stories.storyshot
  frontend/src/components/common/ReleaseNotes/__snapshots__/UpdatePopup.Fetching.stories.storyshot
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: bug, frontend, security, app, regression

#2172 Add authorization header only if token exists
  frontend/src/lib/k8s/apiProxy.ts
Labels: bug, frontend, auth

#2180 app: Fix problem with tar import
  app/electron/plugin-management.ts
Labels: bug, app

#2179 app: Fix serialization error in app
  app/electron/main.ts
Labels: bug, plugins, app

#1974 Add enhancement to rename cluster
  Makefile
  backend/cmd/cluster.go
  backend/cmd/headlamp.go
  backend/cmd/headlamp_test.go
  backend/cmd/headlamp_testdata/kubeconfig_rename
  backend/cmd/stateless.go
  backend/pkg/kubeconfig/contextStore.go
  backend/pkg/kubeconfig/kubeconfig.go
  frontend/src/components/App/Home/index.tsx
  frontend/src/components/App/Layout.tsx
  frontend/src/components/App/Settings/SettingsCluster.tsx
  frontend/src/helpers/index.ts
  frontend/src/i18n/locales/de/translation.json
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/es/translation.json
  frontend/src/i18n/locales/fr/translation.json
  frontend/src/i18n/locales/pt/translation.json
  frontend/src/lib/k8s/apiProxy.ts
  frontend/src/lib/k8s/kubeconfig.ts
  frontend/src/stateless/index.ts
Labels: enhancement, backend, frontend

#2178 plugins/examples/pod-counter: Fix notifications issue
  plugins/examples/pod-counter/src/index.tsx
Labels: bug, plugins

#2190 frontend: apiProxy: Pass in namespace to testAuth
  frontend/src/lib/k8s/apiProxy.test.ts
  frontend/src/lib/k8s/apiProxy.ts
Labels: frontend

#2175 headlamp-plugin: Add package command
  plugins/headlamp-plugin/README.md
  plugins/headlamp-plugin/bin/headlamp-plugin.js
  plugins/headlamp-plugin/template/package.json
  plugins/headlamp-plugin/test-headlamp-plugin.js
Labels: enhancement, headlamp-plugin

#2184 backend: dependency updates, require golang 1.22.4, alpine linux update
  Dockerfile
  backend/cmd/headlamp.go
  backend/go.mod
  backend/go.sum
Labels: backend, dependencies, security

#2146 charts: Add signing of Helm charts
  .github/workflows/helm-chart-release.yml
  charts/headlamp/Chart.yaml
Labels: security, charts

#2200 app, container: Update Prometheus plugin to 0.2.0
  app/app-build-manifest.json
  container/build-manifest.json
Labels: plugins, app, container, prometheus

#2201 app: Ship with the plugin-catalog plugin
  app/app-build-manifest.json
Labels: plugins, app, plugin-catalog

#2216 docs: Fix wording to explain how things are now
  docs/development/plugins/how-to.md
  docs/installation/desktop/index.mdx
  docs/installation/desktop/mac-installation.md
  docs/installation/desktop/win-installation.md
Labels: documentation, enhancement
