Repository kubernetes-sigs/headlamp, pull requests merged in 2024-09, with the labels that each got.

#2224 github: Add a step to verify the notarization on Mac
  .github/workflows/app-artifacts-mac.yml
Labels: mac, CI

#2304 Export lib/k8s/cluster/getAllowedNamespaces
  frontend/src/lib/k8s/cluster.ts
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: frontend, plugins

#2302 backend: Add tests
  backend/cmd/headlamp_test.go
  backend/cmd/stateless_test.go
Labels: backend, quality

#2205 frontend: Unify general and cluster settings
  frontend/src/components/App/Settings/SettingsCluster.tsx
  frontend/src/components/Sidebar/__snapshots__/Sidebar.HomeSidebarClosed.stories.storyshot
  frontend/src/components/Sidebar/__snapshots__/Sidebar.HomeSidebarOpen.stories.storyshot
  frontend/src/components/Sidebar/prepareRoutes.ts
  frontend/src/i18n/locales/de/glossary.json
  frontend/src/i18n/locales/de/translation.json
  frontend/src/i18n/locales/en/glossary.json
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/es/glossary.json
  frontend/src/i18n/locales/es/translation.json
  frontend/src/i18n/locales/fr/glossary.json
  frontend/src/i18n/locales/fr/translation.json
  frontend/src/i18n/locales/pt/glossary.json
  frontend/src/i18n/locales/pt/translation.json
  frontend/src/lib/router.tsx
Labels: enhancement, frontend

#2313 docs: Improve documentation a11y
  README.md
  app/README.md
  docs/contributing.md
  docs/development/backend.md
  docs/development/frontend.md
  docs/development/i18n/contributing.md
  docs/development/i18n/index.md
  docs/development/index.md
  docs/development/oidc.md
  docs/development/plugins/building.md
  docs/development/plugins/functionality.md
  docs/development/plugins/how-to.md
  docs/development/plugins/index.md
  docs/development/testing.md
  docs/faq.md
  docs/index.md
  docs/installation/base-url.md
  docs/installation/desktop/headless.mdx
  docs/installation/desktop/index.mdx
  docs/installation/desktop/linux-installation.md
  docs/installation/desktop/mac-installation.md
  docs/installation/desktop/win-installation.md
  docs/installation/in-cluster/dex/index.md
  docs/installation/in-cluster/eks/index.md
  docs/installation/in-cluster/index.md
  docs/installation/in-cluster/keycloak/index.md
  docs/installation/in-cluster/oidc.md
  docs/installation/index.mdx
  docs/installation/metrics-server.md
  docs/platforms.md
  plugins/README.md
Labels: documentation, a11y

#2318 frontend: Fix duplicate translation keys pathing for windows
  frontend/src/i18n/index.test.ts
Labels: bug, windows, i18n

#2289 backend: send working list of contexts
  backend/cmd/stateless.go
  backend/pkg/kubeconfig/kubeconfig.go
  backend/pkg/kubeconfig/kubeconfig_test.go
  backend/pkg/kubeconfig/test_data/kubeconfig_autherr
  backend/pkg/kubeconfig/test_data/kubeconfig_partialcontextvalid
  backend/pkg/portforward/handler_test.go
Labels: enhancement

#2325 headlamp-plugin: Install tar and update dependencies-sync
  plugins/headlamp-plugin/dependencies-sync.js
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: bug

#2340 backend: Validate path from user
  backend/cmd/headlamp.go
Labels: bug, backend

#2352 backend: Add test coverage reports into the PR coverage bot comment
  .github/workflows/backend-test.yml
  .gitignore
  Makefile
Labels: backend, testing, dx

#2315 frontend: Refactor labels for create namespace button
  frontend/src/components/namespace/CreateNamespaceButton.tsx
  frontend/src/components/namespace/__snapshots__/NamespaceList.Regular.stories.storyshot
Labels: size:XS

#2326 backend: refactor listing all contexts and error
  backend/cmd/cluster.go
  backend/cmd/headlamp.go
  backend/cmd/stateless.go
  backend/pkg/kubeconfig/kubeconfig.go
  backend/pkg/kubeconfig/kubeconfig_test.go
  backend/pkg/kubeconfig/test_data/kubeconfig_partialcontextvalid
  backend/pkg/portforward/handler_test.go
Labels: size:XXL, lgtm

#2336 frontend: AlertNotification: Improve alert component
  frontend/src/components/common/AlertNotification.tsx
  frontend/src/i18n/locales/de/translation.json
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/es/translation.json
  frontend/src/i18n/locales/fr/translation.json
  frontend/src/i18n/locales/pt/translation.json
Labels: frontend, a11y, lgtm
