Repository kubernetes-sigs/headlamp, pull requests merged in 2024-10, with the labels that each got.

#2365 frontend: headlamp-plugins: Remove unused fetch-mock dependency
  frontend/package-lock.json
  frontend/package.json
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: size:XS

#2366 frontend: headlamp-plugins: Upgrade i18next and related
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/daemonset/Details.tsx
  frontend/src/i18n/locales/de/glossary.json
  frontend/src/i18n/locales/en/glossary.json
  frontend/src/i18n/locales/es/glossary.json
  frontend/src/i18n/locales/fr/glossary.json
  frontend/src/i18n/locales/pt/glossary.json
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: frontend, dependencies, headlamp-plugin, size:M

#2367 frontend: Update vitest and related, move vitest to devDependencies so it's not needed for prod only builds
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
  frontend/vitest.config.ts
Labels: frontend, dependencies

#2364 frontend: Type fixes and remove third party dependency(redux-mock-store)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/Resource/CreateButton.tsx
  frontend/src/components/common/Resource/DeleteButton.tsx
  frontend/src/components/common/Resource/EditButton.tsx
  frontend/src/components/common/Resource/RestartButton.tsx
  frontend/src/components/common/Resource/ScaleButton.tsx
  frontend/src/components/cronjob/Details.tsx
  frontend/src/components/namespace/CreateNamespaceButton.tsx
  frontend/src/components/node/Details.tsx
  frontend/src/redux/clusterActionSlice.test.ts
  frontend/src/redux/headlampEventSlice.test.tsx
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: frontend, dependencies, size:L

#2378 frontend: Remove unused @types/redux-mock-store
  frontend/package-lock.json
  frontend/package.json
Labels: frontend, dependencies, size:XS

#2369 frontend: Remove patch-package + glob, and move @storybook/blocks to devDependencies
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App/icons.test.ts
  frontend/src/filesFilter/filesFilter.test.ts
  frontend/src/filesFilter/filesFilter.ts
  frontend/src/i18n/index.test.ts
  plugins/headlamp-plugin/dependencies-sync.js
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: frontend, dependencies, headlamp-plugin, size:L, lgtm

#2368 frontend: Upgrade notistack to 3.0.1
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/__snapshots__/ActionsNotifier.Some.stories.storyshot
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: frontend, dependencies, size:M, lgtm

#2371 frontend: headlamp-plugin: Update fake-indexeddb to 6.0.0
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/cluster/__snapshots__/Overview.Events.stories.storyshot
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: frontend, dependencies, size:M, lgtm

#2373 frontend: headlamp-plugin Update cronstrue to 2.50.0
  frontend/package-lock.json
  frontend/package.json
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: frontend, dependencies, size:XS, lgtm

#2375 frontend: headlamp-plugin: Update to material-react-table 2.13.3
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App/PluginSettings/__snapshots__/PluginSettings.DefaultSaveEnable.stories.storyshot
  frontend/src/components/App/PluginSettings/__snapshots__/PluginSettings.EmptyHomepageItems.stories.storyshot
  frontend/src/components/App/PluginSettings/__snapshots__/PluginSettings.FewItems.stories.storyshot
  frontend/src/components/App/PluginSettings/__snapshots__/PluginSettings.ManyItems.stories.storyshot
  frontend/src/components/App/PluginSettings/__snapshots__/PluginSettings.MoreItems.stories.storyshot
  frontend/src/components/common/Resource/__snapshots__/ResourceListView.OneHiddenColumn.stories.storyshot
  frontend/src/components/common/Resource/__snapshots__/ResourceTable.NameSearch.stories.storyshot
  frontend/src/components/common/Resource/__snapshots__/ResourceTable.NoFilter.stories.storyshot
  frontend/src/components/common/Resource/__snapshots__/ResourceTable.WithHiddenCols.stories.storyshot
  frontend/src/components/common/Table/__snapshots__/Table.Datum.stories.storyshot
  frontend/src/components/common/Table/__snapshots__/Table.Getter.stories.storyshot
  frontend/src/components/common/Table/__snapshots__/Table.LabelSearch.stories.storyshot
  frontend/src/components/common/Table/__snapshots__/Table.NameSearch.stories.storyshot
  frontend/src/components/common/Table/__snapshots__/Table.NamespaceSearch.stories.storyshot
  frontend/src/components/common/Table/__snapshots__/Table.NamespaceSelect.stories.storyshot
  frontend/src/components/common/Table/__snapshots__/Table.NotFoundMessage.stories.storyshot
  frontend/src/components/common/Table/__snapshots__/Table.NumberSearch.stories.storyshot
  frontend/src/components/common/Table/__snapshots__/Table.ReflectInURL.stories.storyshot
  frontend/src/components/common/Table/__snapshots__/Table.ReflectInURLWithPrefix.stories.storyshot
  frontend/src/components/common/Table/__snapshots__/Table.UIDSearch.stories.storyshot
  frontend/src/components/common/Table/__snapshots__/Table.WithFilterMultiSelect.stories.storyshot
  frontend/src/components/common/Table/__snapshots__/Table.WithGlobalFilter.stories.storyshot
  frontend/src/components/common/Table/__snapshots__/Table.WithSorting.stories.storyshot
  frontend/src/components/configmap/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/crd/__snapshots__/CustomResourceDefinition.Details.stories.storyshot
  frontend/src/components/crd/__snapshots__/CustomResourceDefinition.List.stories.storyshot
  frontend/src/components/crd/__snapshots__/CustomResourceList.List.stories.storyshot
  frontend/src/components/daemonset/__snapshots__/List.DaemonSets.stories.storyshot
  frontend/src/components/endpoints/__snapshots__/EndpointList.Items.stories.storyshot
  frontend/src/components/horizontalPodAutoscaler/__snapshots__/HPAList.Items.stories.storyshot
  frontend/src/components/ingress/__snapshots__/ClassList.Items.stories.storyshot
  frontend/src/components/ingress/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/job/__snapshots__/JobList.Items.stories.storyshot
  frontend/src/components/lease/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/limitRange/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/namespace/__snapshots__/NamespaceList.Regular.stories.storyshot
  frontend/src/components/node/__snapshots__/List.Nodes.stories.storyshot
  frontend/src/components/pod/__snapshots__/PodList.Items.stories.storyshot
  frontend/src/components/podDisruptionBudget/__snapshots__/pdbList.Items.stories.storyshot
  frontend/src/components/priorityClass/__snapshots__/priorityClassList.Items.stories.storyshot
  frontend/src/components/replicaset/__snapshots__/List.ReplicaSets.stories.storyshot
  frontend/src/components/resourceQuota/__snapshots__/resourceQuotaList.Items.stories.storyshot
  frontend/src/components/runtimeClass/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/secret/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/storage/__snapshots__/ClaimList.Items.stories.storyshot
  frontend/src/components/storage/__snapshots__/ClassList.Items.stories.storyshot
  frontend/src/components/storage/__snapshots__/VolumeList.Items.stories.storyshot
  frontend/src/components/verticalPodAutoscaler/__snapshots__/VPAList.List.stories.storyshot
  frontend/src/components/webhookconfiguration/__snapshots__/MutatingWebhookConfigList.Items.stories.storyshot
  frontend/src/components/webhookconfiguration/__snapshots__/ValidatingWebhookConfigList.Items.stories.storyshot
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: frontend, dependencies, size:L, lgtm

#2379 frontend: headlamp-plugin: Update react-hotkeys-hook to 4.5.1
  frontend/package-lock.json
  frontend/package.json
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: frontend, dependencies, size:XS, lgtm

#2372 frontend: headlamp-plugin: Update react-markdown to 9.0.1 and remove github-markdown-css
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/ReleaseNotes/ReleaseNotesModal.tsx
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: frontend, dependencies, size:XS, lgtm

#2376 frontend: headlamp-plugin: Remove unused postcss postcss-flexbugs-fixes
  frontend/package-lock.json
  frontend/package.json
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: frontend, dependencies, size:XS, lgtm

#2377 frontend: headlamp-plugin: Update nock to 14.0.0-beta.14
  frontend/package-lock.json
  frontend/package.json
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: frontend, dependencies, size:XS, lgtm

#2356 Add custom resource instances page
  app/electron/locales/de/app.json
  app/electron/locales/en/app.json
  app/electron/locales/es/app.json
  app/electron/locales/fr/app.json
  app/electron/locales/pt/app.json
  frontend/src/components/App/icons.ts
  frontend/src/components/Sidebar/__snapshots__/Sidebar.InClusterSidebarClosed.stories.storyshot
  frontend/src/components/Sidebar/__snapshots__/Sidebar.InClusterSidebarOpen.stories.storyshot
  frontend/src/components/Sidebar/__snapshots__/Sidebar.SelectedItemWithSidebarOmitted.stories.storyshot
  frontend/src/components/Sidebar/prepareRoutes.ts
  frontend/src/components/crd/CustomResourceInstancesList.tsx
  frontend/src/i18n/locales/de/translation.json
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/es/translation.json
  frontend/src/i18n/locales/fr/translation.json
  frontend/src/i18n/locales/pt/translation.json
  frontend/src/lib/router.tsx
Labels: enhancement, size:XL, lgtm

#2386 frontend: headlamp-plugin: Update typescript to 5.6.2
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/k8s/api/v2/hooks.ts
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: frontend, dependencies, size:S, lgtm

#2388 frontend: headlamp-plugin: Update redux-toolkit to 2.2.7
  frontend/package-lock.json
  frontend/package.json
  frontend/src/redux/hooks.ts
  frontend/src/redux/stores/store.tsx
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: frontend, dependencies, size:S, lgtm

#2391 frontend: headlamp-plugin: Upgrade msw to 2.4.9
  frontend/package-lock.json
  frontend/package.json
  frontend/public/mockServiceWorker.js
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: frontend, dependencies, size:XS, lgtm

#2390 chart: Add change ClusterRole option
  charts/headlamp/README.md
  charts/headlamp/templates/clusterrolebinding.yaml
  charts/headlamp/tests/expected_templates/extra-args.yaml
  charts/headlamp/tests/expected_templates/oidc-create-secret.yaml
  charts/headlamp/tests/expected_templates/oidc-directly-env.yaml
  charts/headlamp/tests/expected_templates/oidc-directly.yaml
  charts/headlamp/tests/expected_templates/oidc-external-secret.yaml
  charts/headlamp/tests/expected_templates/volumes-added.yaml
  charts/headlamp/values.schema.json
  charts/headlamp/values.yaml
Labels: size:L, lgtm

#2392 frontend: headlamp-plugin: Upgrade monaco-editor to 0.52.0
  frontend/package-lock.json
  frontend/package.json
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: frontend, dependencies, size:XS, lgtm

#2393 frontend: headlamp-plugin: Remove unused http-proxy-middleware
  frontend/package-lock.json
  frontend/package.json
  frontend/src/setupProxy.js
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: frontend, dependencies, size:S, lgtm

#2394 frontend: headlamp-plugin: Update storybook deps to 8.3.5
  frontend/package-lock.json
  frontend/package.json
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: frontend, dependencies, size:M, lgtm

#2405 frontend: AuthChooser: Fix broken cluster settings URL
  frontend/src/components/authchooser/__snapshots__/AuthChooser.AnError.stories.storyshot
  frontend/src/components/authchooser/index.tsx
Labels: regression, size:XS, lgtm

#2395 frontend: Fix crashing due to unknown Job condition
  frontend/src/components/common/Label.stories/__snapshots__/StatusLabel.Error.stories.storyshot
  frontend/src/components/common/Label.stories/__snapshots__/StatusLabel.Success.stories.storyshot
  frontend/src/components/common/Label.stories/__snapshots__/StatusLabel.Warning.stories.storyshot
  frontend/src/components/common/Label.tsx
  frontend/src/components/horizontalPodAutoscaler/__snapshots__/HPADetails.Default.stories.storyshot
  frontend/src/components/job/JobList.stories.tsx
  frontend/src/components/job/List.tsx
  frontend/src/components/job/__snapshots__/JobList.Items.stories.storyshot
  frontend/src/components/namespace/__snapshots__/NamespaceDetails.Active.stories.storyshot
  frontend/src/components/namespace/__snapshots__/NamespaceList.Regular.stories.storyshot
  frontend/src/components/node/__snapshots__/List.Nodes.stories.storyshot
  frontend/src/components/pod/__snapshots__/PodDetails.Error.stories.storyshot
  frontend/src/components/pod/__snapshots__/PodDetails.Initializing.stories.storyshot
  frontend/src/components/pod/__snapshots__/PodDetails.LivenessFailed.stories.storyshot
  frontend/src/components/pod/__snapshots__/PodDetails.PullBackOff.stories.storyshot
  frontend/src/components/pod/__snapshots__/PodDetails.Running.stories.storyshot
  frontend/src/components/pod/__snapshots__/PodDetails.Successful.stories.storyshot
  frontend/src/components/pod/__snapshots__/PodList.Items.stories.storyshot
  frontend/src/components/podDisruptionBudget/__snapshots__/pdbDetails.Default.stories.storyshot
  frontend/src/components/storage/__snapshots__/ClaimDetails.Base.stories.storyshot
  frontend/src/components/storage/__snapshots__/ClaimList.Items.stories.storyshot
  frontend/src/components/storage/__snapshots__/VolumeDetails.Base.stories.storyshot
Labels: bug, frontend, size:L, lgtm

#2403 frontend: Remove usage of defaultProps which is deprecated
  frontend/src/components/common/EmptyContent.tsx
  frontend/src/components/common/ReleaseNotes/UpdatePopup.tsx
Labels: size:S, lgtm

#2401 frontend: headlamp-plugin: Remove unused vfile
  frontend/package-lock.json
  frontend/package.json
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: frontend, dependencies, size:XS, lgtm

#2406 backend: Return after attempt to serve a path using ..
  backend/cmd/headlamp.go
Labels: size:S, lgtm

#2410 Dockerfile: Use npm ci so lockfile is used
  .github/workflows/build-container.yml
  Dockerfile
Labels: security, size:XS, lgtm

#2411 docker: Pin node by hash
  Dockerfile.plugins
Labels: security, size:XS, lgtm

#2409 Dockerfile: Pin alpine by hash
  Dockerfile
  Dockerfile.plugins
Labels: security, container, size:XS, lgtm

#2408 github: backend-test: Pin dependency to hash
  .github/workflows/backend-test.yml
Labels: security, size:XS, lgtm

#2402 frontend: headlamp-plugin: Update xterm 5.5.0 and related deps
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/LogViewer.tsx
  frontend/src/components/common/Terminal.tsx
  frontend/src/components/common/__snapshots__/LogViewer.SomeLogs.stories.storyshot
  frontend/src/components/pod/Details.tsx
  frontend/src/components/pod/__snapshots__/PodDetails.Error.stories.storyshot
  frontend/src/components/pod/__snapshots__/PodDetails.Initializing.stories.storyshot
  frontend/src/components/pod/__snapshots__/PodDetails.LivenessFailed.stories.storyshot
  frontend/src/components/pod/__snapshots__/PodDetails.PullBackOff.stories.storyshot
  frontend/src/components/pod/__snapshots__/PodDetails.Running.stories.storyshot
  frontend/src/components/pod/__snapshots__/PodDetails.Successful.stories.storyshot
  frontend/src/components/pod/__snapshots__/PodLogs.Logs.stories.storyshot
  frontend/src/storybook.test.tsx
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: frontend, dependencies, size:XXL, lgtm

#2319 Add option to list plugins
  app/electron/main.ts
  backend/cmd/server.go
  backend/pkg/plugins/plugins.go
  backend/pkg/plugins/plugins_test.go
Labels: backend, size:L, lgtm

#2420 frontend: k8s/cluster: Add cluster arg to onError callbacks
  frontend/src/lib/k8s/cluster.ts
Labels: frontend, size:S, lgtm, multi

#2416 frontend: lib/util: Add getClusterGroup
  frontend/src/lib/util.ts
Labels: frontend, size:S, lgtm, multi

#2425 frontend: ResourceLink: Add cluster param automatically
  frontend/src/components/common/Resource/Resource.tsx
Labels: frontend, size:XS, lgtm, multi

#2424 frontend: Add ClusterGroupErrorMessage for displaying clusters with errors
  frontend/src/components/cluster/ClusterGroupErrorMessage.stories.tsx
  frontend/src/components/cluster/ClusterGroupErrorMessage.tsx
  frontend/src/components/cluster/__snapshots__/ClusterGroupErrorMessage.WithClusterErrors.stories.storyshot
  frontend/src/components/cluster/__snapshots__/ClusterGroupErrorMessage.WithDetailedClusterErrors.stories.storyshot
  frontend/src/components/cluster/__snapshots__/ClusterGroupErrorMessage.WithMessageUsed.stories.storyshot
  frontend/src/i18n/locales/de/translation.json
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/es/translation.json
  frontend/src/i18n/locales/fr/translation.json
  frontend/src/i18n/locales/pt/translation.json
Labels: frontend, size:L, lgtm, multi

#2422 frontend: util: Add flattenClusterListItems for cluster objects
  frontend/src/lib/util.test.ts
  frontend/src/lib/util.ts
Labels: frontend, size:M, lgtm, multi

#2423 frontend: util: Add combineClusterListErrors
  frontend/src/lib/util.test.ts
  frontend/src/lib/util.ts
Labels: frontend, size:M, lgtm, multi

#2427 ci: Use Ubuntu 22 for build-container workflow
  .github/workflows/build-container.yml
Labels: size:XS, lgtm

#2419 frontend: k8s/cluster: Add clusters field to ApiListOptions
  frontend/src/lib/k8s/cluster.ts
Labels: frontend, size:S, lgtm, multi

#2421 frontend: cluster: Add cluster argument to KubeObject class
  frontend/src/lib/k8s/cluster.ts
Labels: frontend, size:S, lgtm, multi

#2426 frontend: RouteSwitcher: Fix multicluster mode, no token check
  frontend/src/components/App/RouteSwitcher.tsx
Labels: frontend, size:XS, lgtm, multi

#2433 frontend: Fix deps with npm audit fix
  app/package-lock.json
  frontend/package-lock.json
  plugins/headlamp-plugin/package-lock.json
Labels: size:XS, lgtm

#2432 frontend: ResourceTable: Add cluster column
  frontend/src/components/common/Resource/ResourceTable.tsx
Labels: frontend, size:S, lgtm, multi

#2431 frontend: Resource/CreateButton: Add cluster selector
  frontend/src/components/common/Resource/CreateButton.tsx
Labels: frontend, size:M, lgtm, multi

#2439 frontend: headlamp-plugin: Remove unused @apidevtools/json-schema-ref-parser
  frontend/package-lock.json
  frontend/package.json
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
  plugins/headlamp-plugin/patches/@apidevtools+json-schema-ref-parser+9.0.9.patch
  plugins/headlamp-plugin/patches/@apidevtools+swagger-parser++@apidevtools+json-schema-ref-parser+9.0.6.patch
Labels: size:S, lgtm

#2444 frontend: Add cluster getter to KubeObject class
  frontend/src/lib/k8s/cluster.ts
Labels: size:XS, lgtm

#2430 frontend: allow apply with update permissions
  frontend/src/lib/k8s/api/v1/apply.ts
Labels: bug, frontend, size:XS, lgtm

#2447 adopters: Add WhizUs
  ADOPTERS.md
Labels: size:XS, lgtm

#2445 Update cluster on change in create button
  frontend/src/components/common/Resource/CreateButton.tsx
  frontend/src/lib/k8s/index.ts
Labels: size:M, lgtm

#2434 frontend: Add cluster column to List views
  frontend/src/components/configmap/List.tsx
  frontend/src/components/crd/List.tsx
  frontend/src/components/cronjob/List.tsx
  frontend/src/components/daemonset/List.tsx
  frontend/src/components/deployments/List.tsx
  frontend/src/components/endpoints/List.tsx
  frontend/src/components/horizontalPodAutoscaler/List.tsx
  frontend/src/components/ingress/List.tsx
  frontend/src/components/job/List.tsx
  frontend/src/components/lease/List.tsx
  frontend/src/components/limitRange/List.tsx
  frontend/src/components/namespace/List.tsx
  frontend/src/components/networkpolicy/List.tsx
  frontend/src/components/node/List.tsx
  frontend/src/components/pod/List.tsx
  frontend/src/components/podDisruptionBudget/List.tsx
  frontend/src/components/priorityClass/List.tsx
  frontend/src/components/runtimeClass/List.tsx
  frontend/src/components/secret/List.tsx
  frontend/src/components/service/List.tsx
  frontend/src/components/serviceaccount/List.tsx
  frontend/src/components/statefulset/List.tsx
  frontend/src/components/verticalPodAutoscaler/List.tsx
Labels: frontend, size:S, lgtm, multi

#2414 Add GitHub issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: size:M, lgtm

#2453 frontend: stateless: Fix error when clusters is null
  frontend/src/stateless/index.ts
Labels: bug, frontend, size:XS, lgtm

#2456 docs: Update monthly call notice
  docs/contributing.md
Labels: size:XS, lgtm

#2448 frontend: cluster: hooks: Make useList multi cluster aware
  frontend/src/lib/k8s/api/v2/hooks.ts
  frontend/src/lib/k8s/cluster.ts
Labels: frontend, size:L, lgtm, multi

#2436 frontend: ResourceTable: Add display of clusterErrors
  frontend/src/components/common/Resource/ResourceTable.tsx
Labels: frontend, size:S, lgtm, multi

#2435 frontend: PodList: Make multi cluster aware
  frontend/src/components/pod/List.tsx
Labels: frontend, size:S, lgtm, multi

#2464 frontend: RestartButton: Use proper event type
  frontend/src/components/common/Resource/RestartButton.tsx
Labels: frontend, size:XS, lgtm

#2462 frontend: Add state for notification handling
  frontend/src/components/common/ActionsNotifier.tsx
  frontend/src/redux/clusterActionSlice.ts
Labels: frontend, size:M, lgtm

#2467 frontend: vitest.config: Add html coverage report
  frontend/vitest.config.ts
Labels: frontend, testing, quality, dx, size:XS, lgtm

#2472 frontend: Fix Pod status label icon alignment
  frontend/src/components/pod/List.tsx
  frontend/src/components/pod/__snapshots__/PodDetails.Error.stories.storyshot
  frontend/src/components/pod/__snapshots__/PodDetails.LivenessFailed.stories.storyshot
  frontend/src/components/pod/__snapshots__/PodList.Items.stories.storyshot
Labels: frontend, size:M, lgtm

#2473 frontend: Add snapshot test for window.pluginLib
  frontend/src/plugin/__snapshots__/pluginLib.snapshot
  frontend/src/plugin/pluginLib.test.ts
Labels: frontend, testing, size:XS, lgtm

#2459 backend: Add websocket multiplexer
  backend/cmd/headlamp.go
  backend/cmd/multiplexer.go
  backend/cmd/multiplexer_test.go
  backend/cmd/server.go
Labels: size:XXL, lgtm, multi

#2474 frontend: util filterFunc: Fix for when item is null
  frontend/src/lib/util.ts
Labels: size:XS, lgtm

#2475 frontend: cluster: Fix useCluster to use the cluster group
  frontend/src/lib/k8s/KubeObject.ts
Labels: size:XS, lgtm

#2465 backend: Prevent sending refresh signal before the app is ready
  backend/cmd/headlamp.go
  backend/pkg/plugins/plugins.go
  backend/pkg/plugins/plugins_test.go
Labels: size:M, lgtm

#2476 frontend: hooks: Fix some hooks to pass through cluster
  frontend/src/lib/k8s/api/v2/hooks.ts
Labels: bug, frontend, size:S, lgtm, multi

#2044 frontend: add default actions to ResourceListView
  frontend/src/components/common/ActionButton/ActionButton.tsx
  frontend/src/components/common/Resource/DeleteButton.tsx
  frontend/src/components/common/Resource/EditButton.tsx
  frontend/src/components/common/Resource/ResourceListView.tsx
  frontend/src/components/common/Resource/ResourceTable.tsx
  frontend/src/components/common/Resource/RestartButton.tsx
  frontend/src/components/common/Resource/ScaleButton.tsx
  frontend/src/components/common/Resource/ViewButton.tsx
  frontend/src/components/common/Resource/__snapshots__/ResourceListView.OneHiddenColumn.stories.storyshot
  frontend/src/components/common/Table/Table.tsx
  frontend/src/components/configmap/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/crd/__snapshots__/CustomResourceDefinition.Details.stories.storyshot
  frontend/src/components/crd/__snapshots__/CustomResourceDefinition.List.stories.storyshot
  frontend/src/components/crd/__snapshots__/CustomResourceList.List.stories.storyshot
  frontend/src/components/daemonset/__snapshots__/List.DaemonSets.stories.storyshot
  frontend/src/components/endpoints/__snapshots__/EndpointList.Items.stories.storyshot
  frontend/src/components/horizontalPodAutoscaler/__snapshots__/HPAList.Items.stories.storyshot
  frontend/src/components/ingress/__snapshots__/ClassList.Items.stories.storyshot
  frontend/src/components/ingress/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/job/__snapshots__/JobList.Items.stories.storyshot
  frontend/src/components/lease/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/limitRange/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/namespace/__snapshots__/NamespaceList.Regular.stories.storyshot
  frontend/src/components/node/__snapshots__/List.Nodes.stories.storyshot
  frontend/src/components/pod/__snapshots__/PodList.Items.stories.storyshot
  frontend/src/components/podDisruptionBudget/__snapshots__/pdbList.Items.stories.storyshot
  frontend/src/components/priorityClass/__snapshots__/priorityClassList.Items.stories.storyshot
  frontend/src/components/replicaset/__snapshots__/List.ReplicaSets.stories.storyshot
  frontend/src/components/resourceQuota/__snapshots__/resourceQuotaList.Items.stories.storyshot
  frontend/src/components/runtimeClass/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/secret/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/storage/__snapshots__/ClaimList.Items.stories.storyshot
  frontend/src/components/storage/__snapshots__/ClassList.Items.stories.storyshot
  frontend/src/components/storage/__snapshots__/VolumeList.Items.stories.storyshot
  frontend/src/components/verticalPodAutoscaler/__snapshots__/VPAList.List.stories.storyshot
  frontend/src/components/webhookconfiguration/__snapshots__/MutatingWebhookConfigList.Items.stories.storyshot
  frontend/src/components/webhookconfiguration/__snapshots__/ValidatingWebhookConfigList.Items.stories.storyshot
  frontend/src/i18n/locales/de/translation.json
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/es/translation.json
  frontend/src/i18n/locales/fr/translation.json
  frontend/src/i18n/locales/pt/translation.json
  frontend/src/plugin/__snapshots__/pluginLib.snapshot
  frontend/src/redux/actionButtonsSlice.ts
Labels: enhancement, frontend, size:XXL, lgtm

#2487 github: pr-to-update-winget: Use npm ci to pin deps
  .github/workflows/pr-to-update-winget.yml
Labels: security, size:XS, lgtm

#2484 Error boundary in routes
  frontend/src/components/App/RouteSwitcher.stories.tsx
  frontend/src/components/App/RouteSwitcher.tsx
  frontend/src/components/App/__snapshots__/RouteSwitcher.Default.stories.storyshot
  frontend/src/components/common/ErrorBoundary/ErrorBoundary.tsx
  frontend/src/components/common/ErrorPage/ErrorPage.tsx
  frontend/src/i18n/locales/de/translation.json
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/es/translation.json
  frontend/src/i18n/locales/fr/translation.json
  frontend/src/i18n/locales/pt/translation.json
Labels: size:L, lgtm

#2489 frontend Home: Refresh clusters versions/errors on interval
  frontend/src/lib/k8s/index.ts
Labels: size:XS, lgtm

#2479 frontend: k8s: hooks: Fix useKubeObjectList items could contain null
  frontend/src/lib/k8s/api/v2/hooks.ts
Labels: bug, frontend, size:XS, lgtm, multi

#2437 frontend: RoleList: Make multi cluster aware
  frontend/src/components/common/Resource/ResourceTable.tsx
  frontend/src/components/role/List.tsx
Labels: frontend, size:M, lgtm, multi

#2492 frontend: Improve handling of an edgecase in useKubeObject useKubeObjectList hooks
  frontend/src/lib/k8s/api/v2/hooks.ts
Labels: size:XS, lgtm

#2493 frontend: Adjust the style of the Namespace selector
  frontend/src/components/cluster/__snapshots__/Overview.Events.stories.storyshot
  frontend/src/components/common/NamespacesAutocomplete.tsx
  frontend/src/components/common/Table/__snapshots__/Table.LabelSearch.stories.storyshot
  frontend/src/components/common/Table/__snapshots__/Table.NameSearch.stories.storyshot
  frontend/src/components/common/Table/__snapshots__/Table.NamespaceSearch.stories.storyshot
  frontend/src/components/common/Table/__snapshots__/Table.NamespaceSelect.stories.storyshot
  frontend/src/components/common/Table/__snapshots__/Table.NotFoundMessage.stories.storyshot
  frontend/src/components/common/Table/__snapshots__/Table.NumberSearch.stories.storyshot
  frontend/src/components/common/Table/__snapshots__/Table.UIDSearch.stories.storyshot
  frontend/src/components/common/__snapshots__/NamespacesAutocomplete.Some.stories.storyshot
  frontend/src/components/common/__snapshots__/SimpleTable.LabelSearch.stories.storyshot
  frontend/src/components/common/__snapshots__/SimpleTable.NameSearch.stories.storyshot
  frontend/src/components/common/__snapshots__/SimpleTable.NamespaceSearch.stories.storyshot
  frontend/src/components/common/__snapshots__/SimpleTable.NamespaceSelect.stories.storyshot
  frontend/src/components/common/__snapshots__/SimpleTable.NotFoundMessage.stories.storyshot
  frontend/src/components/common/__snapshots__/SimpleTable.NumberSearch.stories.storyshot
  frontend/src/components/common/__snapshots__/SimpleTable.UIDSearch.stories.storyshot
  frontend/src/components/configmap/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/crd/__snapshots__/CustomResourceDefinition.List.stories.storyshot
  frontend/src/components/daemonset/__snapshots__/List.DaemonSets.stories.storyshot
  frontend/src/components/endpoints/__snapshots__/EndpointList.Items.stories.storyshot
  frontend/src/components/horizontalPodAutoscaler/__snapshots__/HPAList.Items.stories.storyshot
  frontend/src/components/ingress/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/job/__snapshots__/JobList.Items.stories.storyshot
  frontend/src/components/lease/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/limitRange/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/pod/__snapshots__/PodList.Items.stories.storyshot
  frontend/src/components/podDisruptionBudget/__snapshots__/pdbList.Items.stories.storyshot
  frontend/src/components/replicaset/__snapshots__/List.ReplicaSets.stories.storyshot
  frontend/src/components/resourceQuota/__snapshots__/resourceQuotaList.Items.stories.storyshot
  frontend/src/components/secret/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/storage/__snapshots__/ClaimList.Items.stories.storyshot
  frontend/src/components/verticalPodAutoscaler/__snapshots__/VPAList.List.stories.storyshot
Labels: size:XL, lgtm

#2494 frontend: Add Suspense boundary for the route Switcher
  frontend/src/components/App/RouteSwitcher.tsx
Labels: size:M, lgtm

#2490 headlamp-plugin: Fix extract/package to copy all in dist/
  plugins/headlamp-plugin/bin/headlamp-plugin.js
  plugins/headlamp-plugin/test-headlamp-plugin.js
Labels: headlamp-plugin, size:XS, lgtm

#2457 chart: support deploying additional kubernetes manifests
  charts/headlamp/templates/extra-manifests.yaml
  charts/headlamp/tests/expected_templates/extra-manifests.yaml
  charts/headlamp/tests/test_cases/extra-manifests.yaml
  charts/headlamp/values.schema.json
  charts/headlamp/values.yaml
Labels: size:L, lgtm

#2495 frontend: Add optional parameters to all Details components
  frontend/src/components/configmap/Details.tsx
  frontend/src/components/cronjob/Details.tsx
  frontend/src/components/daemonset/Details.tsx
  frontend/src/components/endpoints/Details.tsx
  frontend/src/components/horizontalPodAutoscaler/Details.tsx
  frontend/src/components/ingress/ClassDetails.tsx
  frontend/src/components/ingress/Details.tsx
  frontend/src/components/lease/Details.tsx
  frontend/src/components/limitRange/Details.tsx
  frontend/src/components/namespace/Details.tsx
  frontend/src/components/networkpolicy/Details.tsx
  frontend/src/components/node/Details.tsx
  frontend/src/components/pod/Details.tsx
  frontend/src/components/podDisruptionBudget/Details.tsx
  frontend/src/components/priorityClass/Details.tsx
  frontend/src/components/resourceQuota/Details.tsx
  frontend/src/components/role/BindingDetails.tsx
  frontend/src/components/role/Details.tsx
  frontend/src/components/runtimeClass/Details.tsx
  frontend/src/components/secret/Details.tsx
  frontend/src/components/service/Details.tsx
  frontend/src/components/serviceaccount/Details.tsx
  frontend/src/components/statefulset/Details.tsx
  frontend/src/components/storage/ClaimDetails.tsx
  frontend/src/components/storage/ClassDetails.tsx
  frontend/src/components/storage/VolumeDetails.tsx
  frontend/src/components/verticalPodAutoscaler/Details.tsx
  frontend/src/components/webhookconfiguration/MutatingWebhookConfigDetails.tsx
  frontend/src/components/webhookconfiguration/ValidatingWebhookConfigDetails.tsx
  frontend/src/components/workload/Details.tsx
Labels: size:L, lgtm

#2499 frontend: Add graph model, grouping and filtering
  frontend/src/components/resourceMap/graph/graphFiltering.test.ts
  frontend/src/components/resourceMap/graph/graphFiltering.ts
  frontend/src/components/resourceMap/graph/graphGrouping.test.ts
  frontend/src/components/resourceMap/graph/graphGrouping.tsx
  frontend/src/components/resourceMap/graph/graphModel.tsx
  frontend/src/components/resourceMap/nodes/KubeObjectStatus.tsx
Labels: enhancement, frontend, size:XL, lgtm, resourceMap

#2498 frontend: Add useQueryParamsState hook
  frontend/src/components/resourceMap/useQueryParamsState.tsx
Labels: enhancement, frontend, size:M, lgtm, resourceMap

#2501 Add Orange as an adopter
  ADOPTERS.md
Labels: size:XS
