Repository kubernetes-sigs/headlamp, pull requests merged in 2024-06, with the labels that each got.

#2025 charts: Add schema for values.yaml
  charts/headlamp/README.md
  charts/headlamp/values.schema.json
  charts/headlamp/values.yaml
Labels: security

#2021 Make Workload Circular Chart Names Clickable
  frontend/src/components/common/Chart.tsx
  frontend/src/components/workload/Overview.tsx
Labels: enhancement, frontend

#2041 backend: Prevent OIDC errors when not in use
  backend/cmd/headlamp.go
Labels: bug, backend

#2094 frontend k8s/service: Make spec.ports optional to reflect the K8s API
  frontend/src/components/service/List.tsx
  frontend/src/lib/k8s/service.ts
Labels: bug
