Repository kubernetes-sigs/headlamp, pull requests merged in 2024-05, with the labels that each got.

#1938 app: Fix external url opening in app
  app/electron/main.ts
Labels: bug, app

#1547 frontend docs: Add FAQ for headlamp docs
  README.md
  docs/_index.md
  docs/faq.md
Labels: documentation

#1939 backend: config: Change default plugins dir
  backend/pkg/config/config.go
Labels: backend, plugins

#1930 frontend: edit docs for playwright
  e2e-tests/README.md
Labels: documentation, e2e-tests

#1978 headlamp-plugin: Bump version to v0.9.2
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: plugins, headlamp-plugin

#1970 docs: Adds docs for vm playwright env
  e2e-tests/README.md
Labels: documentation, e2e-tests

#1976 frontend: Add node/npm version requirements to package.json
  frontend/package-lock.json
  frontend/package.json
Labels: dx

#2003 app: Fix electron opening browser on page reload
  app/electron/main.ts
  app/package.json
Labels: bug, app

#1994 pod/List: Fix IPs being displayed as "undefined" when not set
  frontend/src/components/namespace/__snapshots__/NamespaceDetails.stories.storyshot
  frontend/src/components/pod/Details.tsx
  frontend/src/components/pod/List.tsx
  frontend/src/components/pod/__snapshots__/PodDetails.stories.storyshot
  frontend/src/components/pod/__snapshots__/PodList.stories.storyshot
  frontend/src/components/pod/storyHelper.ts
  frontend/src/lib/k8s/pod.ts
Labels: bug, frontend, SimpleTable
