Repository kubernetes-sigs/headlamp, pull requests merged in 2024-04, with the labels that each got.

#1765 frontend: k8s: Add k8s API tests
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/k8s/apiProxy.test.ts
  package-lock.json
  package.json
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: frontend, testing

#1892 github: backend-test: Fix coverage comment and permissions
  .github/workflows/backend-test.yml
Labels: bug, backend, security, testing

#1888 frontend: Add live update e2e test
  e2e-tests/.gitignore
  e2e-tests/package-lock.json
  e2e-tests/package.json
  e2e-tests/tests/podsPage.spec.ts
  e2e-tests/tests/podsPage.ts
Labels: e2e-tests

#1910 frontend: Fix lint-staged linting/formatting for e2e-tests
  e2e-tests/tests/podsPage.spec.ts
  e2e-tests/tests/podsPage.ts
  frontend/package.json
Labels: bug, quality, dx, e2e-tests

#1912 frontend: Fix warning shown in npm start
  frontend/package-lock.json
  frontend/package.json
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
Labels: bug, frontend

#1915 github: Fix permissions so they are minimal
  .github/workflows/app-artifacts-linux.yml
  .github/workflows/app-artifacts-mac.yml
  .github/workflows/app-artifacts-win.yml
  .github/workflows/app.yml
  .github/workflows/backend-test.yml
  .github/workflows/backend.yml
  .github/workflows/build-container.yml
  .github/workflows/container-publish.yml
  .github/workflows/docker-extension-release.yml
  .github/workflows/draft-release.yml
  .github/workflows/frontend.yml
  .github/workflows/helm-chart-lint-test.yml
  .github/workflows/helm-chart-release.yml
  .github/workflows/pr-to-update-chart.yml
  .github/workflows/pr-to-update-homebrew.yml
  .github/workflows/pr-to-update-minikube.yml
  .github/workflows/trigger-flatpak-update.yml
Labels: security, CI

#1924 Frontend: fix e2e errors
  e2e-tests/tests/namespacesPage.ts
Labels: frontend, e2e-tests
