Repository kubernetes-sigs/headlamp, pull requests merged in 2024-08, with the labels that each got.

#2235 Dockerfile: Update + pin alpine version (to 3.20.2)
  Dockerfile
Labels: security

#2262 frontend: ingress: Handle missing HTTP paths
  frontend/src/components/ingress/Details.stories.tsx
  frontend/src/components/ingress/__snapshots__/Details.WithWildcardTLS.stories.storyshot
  frontend/src/components/ingress/storyHelper.ts
  frontend/src/lib/k8s/ingress.ts
Labels: bug, regression

#2274 app: Fix typos and typing issues
  app/electron/main.ts
Labels: bug, app, regression

#2275 eslint-config: Add eslint-config and update app, frontend, and headlamp-plugin to use it
  app/package-lock.json
  app/package.json
  eslint-config/.eslintrc.yml
  eslint-config/.gitignore
  eslint-config/.npmignore
  eslint-config/LICENSE
  eslint-config/Makefile
  eslint-config/README.md
  eslint-config/export.js
  eslint-config/package-lock.json
  eslint-config/package.json
  eslint-config/prettier-config/index.js
  frontend/package-lock.json
  frontend/package.json
  plugins/headlamp-plugin/dependencies-sync.js
  plugins/headlamp-plugin/package-lock.json
  plugins/headlamp-plugin/package.json
  plugins/headlamp-plugin/template/package.json
Labels: bug, frontend, app, headlamp-plugin, blocker

#2273 frontend: KubeConfigLoader: Improve error message
  frontend/src/components/cluster/KubeConfigLoader.tsx
  frontend/src/i18n/locales/de/translation.json
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/es/translation.json
  frontend/src/i18n/locales/fr/translation.json
  frontend/src/i18n/locales/pt/translation.json
Labels: bug, frontend, windows

#2277 frontend KubeConfigLoader: Do not override Next button's color
  frontend/src/components/cluster/KubeConfigLoader.tsx
Labels: regression
