Repository kubernetes-sigs/headlamp, pull requests merged in 2025-10, with the labels that each got.

#3977 frontend: LogsButton: pods/Details: Fix and improve log viewer inputs
  frontend/src/components/common/Resource/LogsButton.tsx
  frontend/src/components/pod/Details.tsx
  frontend/src/components/pod/__snapshots__/PodLogs.BigJsonLogs.stories.storyshot
  frontend/src/components/pod/__snapshots__/PodLogs.FormattedJsonLogs.stories.storyshot
  frontend/src/components/pod/__snapshots__/PodLogs.FormattingLogs.stories.storyshot
  frontend/src/components/pod/__snapshots__/PodLogs.JsonLogs.stories.storyshot
  frontend/src/components/pod/__snapshots__/PodLogs.PlainLogs.stories.storyshot
  frontend/src/i18n/locales/de/translation.json
  frontend/src/i18n/locales/en/translation.json
  frontend/src/i18n/locales/es/translation.json
  frontend/src/i18n/locales/fr/translation.json
  frontend/src/i18n/locales/hi/translation.json
  frontend/src/i18n/locales/it/translation.json
  frontend/src/i18n/locales/ja/translation.json
  frontend/src/i18n/locales/ko/translation.json
  frontend/src/i18n/locales/pt/translation.json
  frontend/src/i18n/locales/ta/translation.json
  frontend/src/i18n/locales/zh-tw/translation.json
  frontend/src/i18n/locales/zh/translation.json
Labels: kind/bug, kind/feature, frontend, cncf-cla: yes, approved, size/L, LogsButton

#3982 frontend: Layout: Disable backend loader for now
  frontend/src/App.test.tsx
  frontend/src/components/App/Layout.tsx
Labels: kind/bug, frontend, app, lgtm, cncf-cla: yes, approved, size/M

#3981 frontend: Table: Prevent dialog checkbox clicks from triggering table row selection
  frontend/src/components/common/Table/Table.tsx
Labels: kind/bug, frontend, Table, lgtm, cncf-cla: yes, approved, size/XS

#3987 app: container: Bump plugin versions
  app/app-build-manifest.json
  container/build-manifest.json
Labels: cncf-cla: yes, approved, size/XS

#3993 frontend: ResourceTable: Correctly use age as a default sorting column
  frontend/src/components/advancedSearch/__snapshots__/ResourceSearch.Default.stories.storyshot
  frontend/src/components/common/Resource/ResourceTable.tsx
  frontend/src/components/common/Resource/__snapshots__/ResourceListView.OneHiddenColumn.stories.storyshot
  frontend/src/components/common/Resource/__snapshots__/ResourceTable.NameSearch.stories.storyshot
  frontend/src/components/common/Resource/__snapshots__/ResourceTable.NoFilter.stories.storyshot
  frontend/src/components/common/Resource/__snapshots__/ResourceTable.WithHiddenCols.stories.storyshot
  frontend/src/components/configmap/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/crd/__snapshots__/CustomResourceDefinition.Details.stories.storyshot
  frontend/src/components/crd/__snapshots__/CustomResourceDefinition.List.stories.storyshot
  frontend/src/components/crd/__snapshots__/CustomResourceList.List.stories.storyshot
  frontend/src/components/cronjob/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/daemonset/__snapshots__/List.DaemonSets.stories.storyshot
  frontend/src/components/deployments/__snapshots__/List.Deployments.stories.storyshot
  frontend/src/components/endpointSlices/__snapshots__/EndpointSliceList.Items.stories.storyshot
  frontend/src/components/endpoints/__snapshots__/EndpointList.Items.stories.storyshot
  frontend/src/components/gateway/__snapshots__/BackendTLSPolicyList.Items.stories.storyshot
  frontend/src/components/gateway/__snapshots__/BackendTrafficPolicyList.Items.stories.storyshot
  frontend/src/components/gateway/__snapshots__/ClassList.Items.stories.storyshot
  frontend/src/components/gateway/__snapshots__/GRPCRouteList.Items.stories.storyshot
  frontend/src/components/gateway/__snapshots__/GatewayList.Items.stories.storyshot
  frontend/src/components/gateway/__snapshots__/HTTPRouteList.Items.stories.storyshot
  frontend/src/components/gateway/__snapshots__/ReferenceGrantList.Items.stories.storyshot
  frontend/src/components/horizontalPodAutoscaler/__snapshots__/HPAList.Items.stories.storyshot
  frontend/src/components/ingress/__snapshots__/ClassList.Items.stories.storyshot
  frontend/src/components/ingress/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/job/__snapshots__/JobList.Items.stories.storyshot
  frontend/src/components/lease/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/limitRange/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/namespace/__snapshots__/NamespaceList.Regular.stories.storyshot
  frontend/src/components/node/__snapshots__/List.Nodes.stories.storyshot
  frontend/src/components/pod/__snapshots__/PodList.Items.stories.storyshot
  frontend/src/components/podDisruptionBudget/__snapshots__/pdbList.Items.stories.storyshot
  frontend/src/components/priorityClass/__snapshots__/priorityClassList.Items.stories.storyshot
  frontend/src/components/replicaset/__snapshots__/List.ReplicaSets.stories.storyshot
  frontend/src/components/resourceQuota/__snapshots__/resourceQuotaList.Items.stories.storyshot
  frontend/src/components/runtimeClass/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/secret/__snapshots__/List.Items.stories.storyshot
  frontend/src/components/service/__snapshots__/ServiceList.Items.stories.storyshot
  frontend/src/components/statefulset/__snapshots__/List.Default.stories.storyshot
  frontend/src/components/statefulset/__snapshots__/List.SingleItem.stories.storyshot
  frontend/src/components/statefulset/__snapshots__/List.WithNotReadyReplicas.stories.storyshot
  frontend/src/components/storage/__snapshots__/ClaimList.Items.stories.storyshot
  frontend/src/components/storage/__snapshots__/ClassList.Items.stories.storyshot
  frontend/src/components/storage/__snapshots__/VolumeList.Items.stories.storyshot
  frontend/src/components/verticalPodAutoscaler/__snapshots__/VPAList.List.stories.storyshot
  frontend/src/components/webhookconfiguration/__snapshots__/MutatingWebhookConfigList.Items.stories.storyshot
  frontend/src/components/webhookconfiguration/__snapshots__/ValidatingWebhookConfigList.Items.stories.storyshot
  frontend/src/components/workload/__snapshots__/Overview.Workloads.stories.storyshot
Labels: cncf-cla: yes, size/XL, approved

#3994 app: Bump version to 0.36.0
  app/package-lock.json
  app/package.json
Labels: cncf-cla: yes, approved, size/XS

#3717 plugins: Bump form-data to 4.0.4
  plugins/examples/dynamic-clusters/package-lock.json
Labels: dependencies, security, plugins, cncf-cla: yes, approved, size/XS

#4001 fix Monaco Editor with custom base url
  frontend/src/components/monaco/MonacoEditorLoaderInitializer.tsx
Labels: kind/bug, frontend, regression, cncf-cla: yes, approved, size/XS
